:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: bold;
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 60px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 25px;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border: 1px solid var(--branding-color);
}
.project-description {
  padding: 120px 60px;
}
.avatar {
  width: 250px;
  border-radius: 200px;
  border: 4px solid black;
  display: -webkit-inline-flex;
  margin-left: auto;
  margin-top: 22px;
}
@media (max-width: 800px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .avatar {
    width: 150px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
}
