:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: bold;
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 60px;
  justify-content: center;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
navbar {
  background: rgb(242, 213, 240);
  color: rgb(242, 213, 240);
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 25px;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 22px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border: 1px solid var(--branding-color);
}
.project-description {
  padding: 120px 60px;
}
.avatar {
  width: 120px;
  border-radius: 100px;
  border: 2px solid black;
  border-top-left-radius: 20px;
  display: -webkit-inline-flex;
  margin-left: auto;
  opacity: 2;
  position: relative;
}
.container {
  display: block;
  text-align: center;
}
.contact-link {
  padding: 20px;
  font-size: 40px;
  width: 30px;
  margin: 20px auto;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
}
.fa-linkedin-in {
  font-size: 50px;
  background: #3b5998;
  color: white;
  margin-right: 50px;
  border-radius: 5px;
}
.fa-github {
  background: gray;
  color: white;
  font-size: 50px;
  border-radius: 4px;
}
.fab:hover {
  opacity: 0.7;
}
@media (max-width: 800px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 34px;
  }
  .avatar {
    width: 50px;
    border: 1px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 66px 18px;
  }

  h2,
  p {
    text-align: center;
    display: block;
  }
}
