:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 60px;
  justify-content: center;
}
h3 {
  font-size: 48px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.navbar-brand {
  font-family: "Lobster", cursive;
  text-decoration: none;
}
nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.hero {
  background-image: url(/images/background.png);
  background-position: center center;
  opacity: 2;
  text-align: center;
  padding: 53px 20px;
}
.hero p {
  font-size: 25px;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 22px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-branding-outline {
  border-radius: 22px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border: 1px solid var(--branding-color);
}
.project-description {
  padding: 120px 60px;
}
.avatar {
  width: 120px;
  border-radius: 100px;
  border: 2px solid black;
  border-top-left-radius: 20px;
  display: -webkit-inline-flex;
  margin-left: auto;
  opacity: 2;
  position: relative;
}
.img-fluid {
  width: 350px;
  border-radius: 6px;
}
.logo {
  max-width: 100%;
  display: flex;
  flex-direction: inherit;
  width: 150px;
  margin: 0 auto;
  position: relative;
}
.logo:hover {
  cursor: pointer;
}
.container {
  display: block;
  text-align: center;
}
.fab {
  font-size: 40px;
}
footer {
  margin: 60px 0;
}
img {
  width: 75px;
  border-radius: 4px;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
.email-link {
  font-size: 27px;
}
.content-container {
  padding: 60px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content {
  margin: 30px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 26px;
  }
  .avatar {
    width: 50px;
    border: 1px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 66px 18px;
  }

  h2,
  p {
    text-align: center;
    display: block;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
